<div class="page-resources--content" :class="{ 'is-displayed': global.isClient }">
	<div class="page-resources--content--outer">
		<div class="page-resources--content--inner">
			<div :class="'page-resources--content--' + specific.overview.main[0].key"
				@click="goTo(specific.overview.main[0].key)">
				<div :class="'page-resources--content--' + specific.overview.main[0].key + '--image'"></div>
				<div :class="'page-resources--content--' + specific.overview.main[0].key + '--content'">
					<div :class="'page-resources--content--' + specific.overview.main[0].key + '--content--inner'">
						<h2>
							<edit-inline
								v-model="specific.overview.main[0].title"
								:global="global" />
						</h2>
						<hr>
						<edit-block
							v-model="specific.overview.main[0].content"
							:global="global" />
					</div>
				</div>
			</div>
			<div :class="'page-resources--content--' + specific.overview.main[1].key"
				@click="goTo(specific.overview.main[1].key)">
				<div :class="'page-resources--content--' + specific.overview.main[1].key + '--image'"></div>
				<div :class="'page-resources--content--' + specific.overview.main[1].key + '--content'">
					<div :class="'page-resources--content--' + specific.overview.main[1].key + '--content--inner'">
						<h2>
							<edit-inline
								v-model="specific.overview.main[1].title"
								:global="global" />
						</h2>
						<hr>
						<edit-block
							v-model="specific.overview.main[1].content"
							:global="global" />
					</div>
				</div>
			</div>
			<div :class="'page-resources--content--' + specific.overview.main[2].key"
				@click="goTo(specific.overview.main[2].key)">
				<div :class="'page-resources--content--' + specific.overview.main[2].key + '--image'"></div>
				<div :class="'page-resources--content--' + specific.overview.main[2].key + '--content'">
					<div :class="'page-resources--content--' + specific.overview.main[2].key + '--content--inner'">
						<h2>
							<edit-inline
								v-model="specific.overview.main[2].title"
								:global="global" />
						</h2>
						<hr>
						<edit-block
							v-model="specific.overview.main[2].content"
							:global="global" />
					</div>
				</div>
			</div>
			<div :class="'page-resources--content--' + specific.overview.main[3].key"
				@click="goTo(specific.overview.main[3].key)">
				<div :class="'page-resources--content--' + specific.overview.main[3].key + '--image'"></div>
				<div :class="'page-resources--content--' + specific.overview.main[3].key + '--content'">
					<div :class="'page-resources--content--' + specific.overview.main[3].key + '--content--inner'">
						<h2>
							<edit-inline
								v-model="specific.overview.main[3].title"
								:global="global" />
						</h2>
						<hr>
						<edit-block
							v-model="specific.overview.main[3].content"
							:global="global" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-resources--information">
		<ul class="page-resources--information--contacts">
			<template>			
				<li v-for="(contact, index) in common.navigation.information.contacts">
					<edit-inline
						v-model="common.navigation.information.contacts[index]"
						:global="global" />
				</li>
			</template>
		</ul>
	</div>
</div>