<div class="page-resources--content" :class="{ 'is-displayed': global.isClient }">
	<div class="page-resources--content--outer">
		<div class="page-resources--content--inner">
			<div v-for="(item, index) in specific.overview.main"
				:class="'page-resources--content--' + specific.overview.main[index].key"
				@click="goTo(specific.overview.main[index].key)">
				<div :class="'page-resources--content--' + specific.overview.main[index].key + '--image'"></div>
				<div :class="'page-resources--content--' + specific.overview.main[index].key + '--content'">
					<div :class="'page-resources--content--' + specific.overview.main[index].key + '--content--inner'">
						<h2>
							<edit-inline
								v-model="specific.overview.main[index].title"
								:global="global" />
						</h2>
						<hr>
						<edit-block
							v-model="specific.overview.main[index].content"
							:global="global" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-resources--information" v-if="specific.overview.main[0].key !== 'hygienementale'">
		<ul class="page-resources--information--contacts">
			<template>			
				<li v-for="(contact, index) in common.navigation.information.contacts">
					<edit-inline
						v-model="common.navigation.information.contacts[index]"
						:global="global" />
				</li>
			</template>
		</ul>
	</div>
</div>