<section class="page-cards">
	<div class="page-cards--content">
		<header class="page-cards--content--header">
			<h1>
				<edit-inline
					v-model="meta.subtitles[routeName]"
					:global="global" />
			</h1>
			<hr>
		</header>
		<div class="page-cards--content--inner"
			:class="asClass">
			<div class="page-cards--content--board">
				<div class="page-cards--content--cards">
					<ul class="page-cards--content--outer">
						<li :class="'page-cards--content--cards--item as-' + routeName"
							v-for="(card, index) in specific[routeName].cards">
							<h2 @click="goTo(card.slug)"><edit-inline
									v-model="specific[routeName].cards[index].number"
									:global="global" /> —
								<edit-inline
									v-model="specific[routeName].cards[index].title"
									:global="global" /></h2>
							<div class="page-cards--content--cards--item--detail"
								@click="goTo(card.slug)">
								<img :src="miniImage(card.image)" width="250" :height="card.height" :title="card.title" :style="{ width: '250px', height: card.height + 'px' }">
							</div>
							<div class="page-cards--content--cards--item--inner">
								<p class="page-cards--content--cards--description"
									@click="goTo(card.slug)">
									<edit-inline
											v-model="specific[routeName].cards[index].description"
											:global="global" />
								</p>
								<div class="page-cards--content--cards--go-to">
									<edit-wrapper-attr :global="global">
										<router-link class="button"
											:to="'../..' + path + card.slug + '/'">{{ specific.cardMain }}</router-link>
										<template slot="attrs">
											<edit-attr
												v-model="specific.cardMain"
												:label="'Content: '"
												:global="global" />
										</template>
									</edit-wrapper-attr>
								</div>
								<div class="page-cards--content--cards--image">
									<edit-wrapper-attr :global="global">
										{{ specific.cardText }}
										<a v-if="card.video" :href="card.video" target="_blank">
											{{ specific.cardImage }}
										</a><a v-else :href="card.image" target="_blank">
											{{ specific.cardImage }}
										</a><a v-if="card.video2" :href="card.video2" target="_blank">
											({{ specific.cardImageSuite }})
										</a><span v-if="card.url">/<a :href="card.url" target="_blank">
											{{ specific.cardLink }}
										</a></span><span v-if="card.facebook"> —
										<a :href="card.facebook" target="_blank">
											{{ specific.cardFacebook }}
										</a></span>
										<template slot="attrs">
											<edit-attr
												v-model="specific.cardText"
												:label="'Text: '"
												:global="global" />
											<edit-attr
												v-model="specific.cardImage"
												:label="'Image: '"
												:global="global" />
											<edit-attr
												v-model="specific.cardLink"
												:label="'HTML: '"
												:global="global" />
											<edit-attr
												v-model="specific.cardFacebook"
												:label="'Comment: '"
												:global="global" />
										</template>
									</edit-wrapper-attr>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<nav class="page-cards--content--nav">
				<edit-block
					v-model="specific[routeName].description"
					:global="global" />
				<hr>
				<h2>
					<edit-inline
						v-model="specific.links"
						:global="global" />
				</h2>
				<ul>
					<li v-for="(card, index) in specific[routeName].cards">
						<router-link
							:to="'../..' + path + card.slug + '/'"><edit-inline
							v-model="specific[routeName].cards[index].number"
							:global="global" /> —
						<edit-inline
							v-model="specific[routeName].cards[index].title"
							:global="global" /></router-link>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>