@font-face {
	font-family: 'Regular';
	font-weight: 100;
	src: url('../../media/fonts/regular-light.eot?#iefix') format('embedded-opentype'),
		 url('../../media/fonts/regular-light.otf')  format('opentype'),
		 url('../../media/fonts/regular-light.woff') format('woff'),
		 url('../../media/fonts/regular-light.ttf')  format('truetype'),
		 url('../../media/fonts/regular-light.svg#regular-light') format('svg');
}

@font-face {
	font-family: 'Regular';
	font-weight: bold;
	src: url('../../media/fonts/regular-bold.eot?#iefix') format('embedded-opentype'),
		 url('../../media/fonts/regular-bold.otf')  format('opentype'),
		 url('../../media/fonts/regular-bold.woff') format('woff'),
		 url('../../media/fonts/regular-bold.ttf')  format('truetype'),
		 url('../../media/fonts/regular-bold.svg#regular-bold') format('svg');
}

@font-face {
	font-family: 'Destroy';
	src: url('https://cdn.rawgit.com/Haeresis/BookAtlas/develop/assets/fonts/Destroy.eot?#iefix') format('embedded-opentype'),
	     url('https://cdn.rawgit.com/Haeresis/BookAtlas/develop/assets/fonts/Destroy.woff') format('woff'),
	     url('https://cdn.rawgit.com/Haeresis/BookAtlas/develop/assets/fonts/Destroy.ttf') format('truetype'),
	     url('https://cdn.rawgit.com/Haeresis/BookAtlas/develop/assets/fonts/Destroy.svg#Destroy') format('svg');
	font-weight: normal;
	font-style: normal;
}