.the-title
	text-transform uppercase
	font-size 3rem
	font-family Destroy
	text-shadow 1px 1px 1px #d26769,
	-1px 1px 1px #d26769,
	1px -1px 1px #d26769,
	-1px -1px 1px #d26769
	color #fff

	&--logo
		background-position: center 0.2rem;
		background-repeat: no-repeat;
		background-size 6rem
		background-image url('../media/images/logo_white.png')
		width 4.2rem
		height 6rem
		vertical-align middle
		display inline-block

		&--inner
			display none