/* Variables */

// Colors
$textColor = #4f4f4f
$highlightTextColor = #000
$textColorReversed = #fff
$backgroundColor = #fff
$highlightBackgroundColor = #d26769
$borderColor = #95989a
$borderColorReversed = #fff
$linkColor = #365899
$linkColorReversed = #ddd
$highlightLinkColor = #000
$highlightLinkColorReversed = #fff
$hotColor = #d26769
$coldColor = #000