/* Common */
@import "modules/variables"
@import "modules/fonts"
@import "modules/base"
@import "animations/global"
@import "animations/anim-height"
@import "modules/loading"
@import "modules/popup-alert"
@import "modules/popup-confirm"
@import "modules/edit-global"
@import "modules/the-chat"
@import "modules/the-header"
@import "modules/the-navigation"
@import "modules/the-title"
@import "vendors/cookieconsent"

/* Specific */
@import "page-home"
@import "page-login"
@import "page-resources"
@import "page-card"
@import "page-news"
@import "page-contact"
@import "page-about"
@import "page-error"